<p>expert-list works!</p>
<div class="content">
    <h2>CONNECT TO EXPERT</h2>
    
    <p>
      Instruction statement: Send message
    </p>
    <h1>EXPERT LIST</h1>
  </div>
  <form action="post">
    <div class="base row algn">
      <span class="mg">
        <img src="\assets\download.jpg" id="img2" />
      </span>
      <span class="mg2">
        <h2>Expert Name:</h2>
        <p>Expert Description:</p>
        <input  class="btn_connect" type="submit" value="Connect" />
        
      </span>
    </div>
    <br />
  
    <div class="base row algn">
      <span class="mg">
        <img src="\assets\images.jpg" id="img1" />
      </span>
      <span class="mg2">
        <h2>Expert Name:</h2>
        <p>Expert Description:</p>
        <input class="btn_connect" type="submit" value="Connect" />
     
      </span>
    </div>
    <br />
    <div class="base row algn">
      <span class="mg">
        <img src="\assets\avacado.jpg" id="img1" />
      </span>
      <span class="mg2">
        <h2>Expert Name:</h2>
        <input class="btn_connect" type="submit" value="Completed" />
        <i class="fa-solid fa-square-heart"></i>
      </span>
    </div>
  </form>
  
  