<html>
    <header>
        <p> -- Header part -- </p>
    </header>
    <body>
    <div class="search">
        <input type="text" placeholder="       SEARCH ANY FOOD FROM THE DATABASE">
        <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
        &nbsp;
        <form>
            <input type="image" src="C:\Users\nocho\Downloads\exercise.jfif" style="float: left; width: 300px;; height: 300px;; margin-right: 20px; margin-bottom: 10px; ">
            <h1>EXERCISE NAME</h1>
            <h4>Exercise Description XXXX XX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4><i><b>XXX HOURS PER DAY</b><script src=""></script></i></h4>
            <button type="add" class="btn"><b>ADD TO PLAN</b></button>
          </form>
          &nbsp;
          <form>
            <input type="image" src="C:\Users\nocho\Downloads\exercise.jfif" style="float: left; width: 300px;; height: 300px;; margin-right: 20px; margin-bottom: 10px; ">
            <h1>EXERCISE NAME</h1>
            <h4>Exercise Description XXXX XX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4><i><b>XXX HOURS PER DAY</b><script src=""></script></i></h4>
            <button type="add" class="btn"><b>ADD TO PLAN</b></button>
          </form>
          &nbsp;
          <form>
            <input type="image" src="C:\Users\nocho\Downloads\exercise.jfif" style="float: left; width: 300px;; height: 300px;; margin-right: 20px; margin-bottom: 10px; ">
            <h1>EXERCISE NAME</h1>
            <h4>Exercise Description XXXX XX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4>XXXXXXXXXXXXXXXXXXXXXX</h4>
            <h4><i><b>XXX HOURS PER DAY</b><script src=""></script></i></h4>
            <button type="add" class="btn"><b>ADD TO PLAN</b></button>
          </form>
    </div>
    </body>
<footer><p> -- Footer part -- </p></footer>
</html>
