<body>
<div class="container-intro">
  <p><strong><span>Instruction: </span></strong>Below is a list of customised exercise plan.
    Click "Completed" when you complete the exercise for the day.</p>
  <br><br>
  <h2>CUSTOMISED EXERCISE PLAN</h2>

</div>
<div class="container">
  <div class="row">
    <tr *ngFor="let plan of exercisePlan; let i = index">
      <div class="card">
        <div class="card-horizontal">
          <img class="card-img-top" [src]="isStart[i]?'assets/'+plan?.name+'.gif':plan?.image" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{plan?.name}}</h4>
            <p class="card-text">{{plan?.description}}</p>
            <small class="text-muted">{{plan?.duration}}</small>
            <br><br>
            <div class="align">
              <a class="button">COMPLETED</a>
              <a class="button" *ngIf="!isStart[i]"  (click)="isStart[i] = !isStart[i]">Start</a>
              <a class="button" *ngIf="isStart[i]"  (click)="isStart[i] = !isStart[i]">Stop</a>
            </div>
          </div>

        </div>
      </div>
  </div>

</div>
</body>


