.accordion-item {
    background-color: #333;
    border: 1px solid #444;
    margin-bottom: 10px;
  }
  
  .accordion-button {
    background-color: #ffc107;
    color: #333;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #c79100;
    color: #fff;
  }
  