
<div class="generate-PR">
    <div>
    <h2>GENERATE PROGRESS REPORT</h2>
    </div>
  <div>
    <form #progress="ngForm" (ngSubmit)="onAddProgress(progress)">
      <div class="update">
        <div class="update">
          <label for="weight">Add current Weight?</label><br>
          <input type="text" name="weight" ngModel id="weight" placeholder="add weight" />
        </div>
        <div>
          <label for="exercise">Did you follow exercise?</label><br>
          <input type="text" name="FollowExercise" ngModel id="exercise" placeholder=" Answer in Yes or No " /><br/>
        </div>
        <div>
          <label for="diet">Did you follow diet?</label><br>
          <input type="text" id="diet" name="FollowDiet" ngModel placeholder=" Answer in Yes or No " /><br/>
        </div>
        <div>
          <label for="time">How many time you did Exercise?</label><br>
          <input type="text"  id="time" name="ExerciseTime" ngModel placeholder="How many times you followed " /><br/>
          <br/>
          <button type="submit">GENERATE</button>
        </div>
    </div>
  </form>
  </div>
</div>

