<div class="generate-PR">
    <div>
        <h2>GENERATE PROGRESS REPORT</h2>
    </div>
    <div>
        <form #progress="ngForm" (ngSubmit)="onAddProgress(progress)">
            <div class="update">
                <div class="update">
                    <label for="weight">Add current Weight?</label><br>
                    <select name="weight" ngModel id="weight">
          <option *ngFor="let weight of weights" [value]="weight">{{ weight }} kg</option>
        </select>
                </div>
                <div>
                    <label for="exercise">Did you follow exercise?</label><br>
                    <select name="FollowExercise" ngModel id="exercise">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
                </div>
                <div>
                    <label for="diet">Did you follow your diet plan?</label><br>
                    <select name="FollowDiet" ngModel id="diet">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
                </div>
                <div>
                    <label for="exercise-time">How many times did you exercise?</label><br>
                    <select name="ExerciseTime" ngModel id="exercise-time">
          <option *ngFor="let frequency of exerciseFrequencies" [value]="frequency">{{ frequency }} times a week</option>
        </select>
                </div>

            </div>
            <br>
            <button type="submit">GENERATE</button>

        </form>
    </div>
</div>