
<div class="generate-PR">
    <div>
    <h2>GENERATE PROGRESS REPORT</h2>
    </div>
  <div>
    <form #progress="ngForm" (ngSubmit)="onAddProgress(progress)">
      <div class="update">
        <div class="update">
          <label for="weight">Weight:</label><br>
          <input type="text" name="weight" ngModel id="weight" placeholder="add weight" />
        </div>
        <div>
          <label for="exercise">Follow exercise :</label><br>
          <input type="text" name="FollowExercise" ngModel id="exercise" placeholder=" Fill information " /><br/>
        </div>
        <div>
          <label for="diet">Follow diet :</label><br>
          <input type="text" id="diet" name="FollowDiet" ngModel placeholder="fill information " /><br/>
        </div>
        <div>
          <label for="time">Exercise Time :</label><br>
          <input type="text"  id="time" name="ExerciseTime" ngModel placeholder="Fill Time " /><br/>
          <br/>
          <button type="submit">GENERATE</button>

          <pdf-viewer *ngIf="isPdf" [src]="pdfSrc"
                      [render-text]="true"
                      [original-size]="false"
                      style="width: 400px; height: 500px"
          ></pdf-viewer>
          <iframe [src]="pdfSrc"  type="application/pdf" ></iframe>
          <object [data]="pdfSrc" type="application/pdf" width="800" height="400"></object>
        </div>
    </div>
  </form>
  </div>
</div>

