<div class="catchyMsg-image">
    <div class="catchyMsg">
        <h1></h1>
        <h1>Here is the fitness plan which can be perform at home and that makes you healthy!!</h1><br>
        <div class="image"> <img src="\assets\fitnesss1.gif"></div>
    </div>
  </div><br>
<br>
<br>
<div class="tools-achieving-your-goals">
  <h1>Tools Achieving Your Goals</h1>
  <p> ONE STEP CLOSER </p>

  <div class="tools">
    <div>
      <img src="\assets\track.jpeg" alt="L-T-I" />
      <p>Learn-Track-Improve</p>
    </div>
    <div>
      <img src="\assets\motivation (2).jpeg" alt="SM" />
      <p>Stay Motivated</p>
    </div>
    <div>
      <img src="\assets\connected.jpeg" alt="CTE" />
      <p>Connected to Expert</p>
    </div>

  </div>
  <button>JOIN US</button>
</div>

