<div class="" id="beforeNavbar">
    <img src="./images/demo-pic.jpg" alt="LOGO" id="logo" />
    <div class="" id="signin-sigup">
    <a href="#">SIGN IN</a>
    <span> | </span>
    <a routerLink="signup">SIGN UP</a>
</div>
</div>

<nav>
    <div class="navbar-links">
        <a routerLink="about">ABOUT</a>
        <a routerLink="diet">DIET</a>
        <a routerLink="exercise">EXERCISE</a>
        <a routerLink="dietPlan">DIET PLAN</a>
        <a routerLink="exercisePlan">EXERCISE PLAN</a>
        <a routerLink="about">PROGRESS</a>
        <a routerLink="expert">CONTACT EXPERT</a>
    </div>
</nav>
<div class="catchyMsg-image">
    <div class="catchyMsg">
        <h1>Catchy Message</h1>
        <h3>Statement</h3>
        <button id="joinUs-btn">JOIN US</button>
    </div>
    <div class="image">image</div>
</div>
<div class="tools-achieving-your-goals">
    <h1>Tools Achieving Your Goals</h1>
    <p> Small Message </p>
    <div class="tools">
        <div>
            <img src="./images/demo-pic.jpg" alt="L-T-I" />
            <p>Learn-Track-Improve</p>
        </div>
        <div>
            <img src="./images/demo-pic.jpg" alt="SM" />
            <p>Stay Motivated</p>
        </div>
        <div>
            <img src="./images/demo-pic.jpg" alt="CTE" />
            <p>Connected to Expert</p>
        </div>

    </div>
    <button>Button</button>
</div>
<div class="testinomials container">
    <h1>Testinomials</h1>
    <p> Small Message </p>
    <div class="row">
        <img src="/images/demo-pic.jpg" alt="" />
      <p>what's up</p>
    </div>
    <div class="row">
        <p>what's up</p>
        <img src="/images/demo-pic.jpg" alt="" />

    </div>
</div>
<footer>
    <p id="copyright">&copy 2022 copyright <span>FitnessApp.com</span></p>
</footer>
