<p>expert-detail works!</p>
<div class="content">
    <h2>CONNECT TO EXPERT</h2>
    
    <p>
      Instruction statement: Send message
    </p>
<div class="base1 row1 algn1">
   
    <span class="mgp">
      <h2>Your progress report and general information would be sent to the expert</h2>
      
      <input class="btn_proceed" type="submit" value="Proceed to connect expert" />
   
    </span>
  </div>

///////checkbox

  <div class="base1 consent">
   
    <span class="mgp">
      <h2>CONSENT FORM</h2>
      <img src="" />
<label class="container"> I consent to share my details with selected expert
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<br>
      <input class="btn_proceed" type="submit" value="Submit" />
   
    </span>
  </div>
////sucess
  <div class="base1 sucess">
   
    <span class="mgp">
      
      <i class="fa-sharp fa-solid fa-circle-check"></i>
     <h2>SUCESS</h2>
   
    </span>
  </div>