<div class="content">
  <h2>CONNECT TO EXPERT</h2>

  <p>
    Instruction statement: Send message
  </p>
  <div class="base1 row1 algn1">

    <span class="mgp">
      <h2>Your progress report and general information would be sent to the expert</h2>

      <button class="btn_proceed" [routerLink]="['/consent', expertId]"> Proceed to connect expert</button>
    </span>
  </div>

  <div id="chatWidgetContainer"></div>


<!--  ////sucess-->
<!--  <div class="base1 sucess">-->

<!--    <span class="mgp">-->

<!--      <i class="fa-sharp fa-solid fa-circle-check"></i>-->
<!--     <h2>SUCESS</h2>-->

<!--    </span>-->
<!--  </div>-->
</div>
