
<div class="aboutpart1">
  <div class="catchyMsg">
    <div class="image1"> <img src="\assets\about.gif"></div>
    <div class="p-80">
      <h1><b><u>Our Features</u></b></h1>
      <p class="fnt">We are a team of fitness experts who are passionate about helping people achieve their fitness goals. Our website provides you with customized diet and exercise plans, progress tracking tools, and a platform to connect with experts in the field.</p>
      <br><br><ul><b>
      <li>Connect to expert</li>
      <li>Diet plan</li>
      <li>Exercise plan</li>
      <li>Weekly progress</li>
      <li>Appointment scheduling</li>
      <li>View expert's location</li></b>

    </ul>
    </div>

  </div>
</div>
<div class="about">
  <div class="content">
    <p>"Everyone has become a robot as a result of modernity, and instead of enjoying and refreshing their lives via work, individuals are merely concerned with the advancement of their careers. Therefore, maintaining a healthy lifestyle through a balanced
      diet and regular exercise is essential since it not only refreshes the mind but also increases productivity at work. However, having too many options might be confusing. In order to shorten the list, we are creating a valuable web application
      that will assist the user in maintaining their physical health by providing practical advice on workouts to perform and nutrition regimens to follow based on your body's needs. It is a web portal that will take user’s lifestyle as an input,
      analyse the data and provides the most suitable diet plan and exercise plan in accordance."</p>
  </div>
  <div class="img">
    <img src="\assets\abut.gif">
  </div>

</div>
<div class="aboutpart1">
  <div class="catchyMsg">
    <div class="image"> <img src="\assets\about.jpeg"></div>
    <div class="content">
      <h2>Customized diet plan to achieve your fitness goals.</h2>
      <p>You can answer some survey questions during and we'll provide you with customized exercise and diet plan to follow.<br>
        You can also create your own customised plan and exercise by adding the existing exercise and diet into your plan.<br>
        After completing the exercise you can generate your progress report. <br>
        Appointment scheduling and connecting to expert is also possible to get advise from experts. </p>
    </div>

  </div>
</div>

