<div class="about">
    <div class="content">
<p >"Everyone has become a robot as a result of modernity, and instead of enjoying and refreshing 
    their lives via work, individuals are merely concerned with the advancement of their careers. 
    Therefore, maintaining a healthy lifestyle through a balanced diet and regular exercise is essential since it not only 
    refreshes the mind but also increases productivity at work. 
    However, having too many options might be confusing. In order to shorten the list, 
    we are creating a valuable web application that will assist the user in maintaining their physical health by 
    providing practical advice on workouts to perform and nutrition regimens to follow based on your body's needs. 
    It is a web portal that will take user’s lifestyle as an input, analyse the data and provides 
    the most suitable diet plan and exercise plan in accordance."</p>
</div>
<div class="img">
    <img src="\assets\ab1.gif">
    </div>
   
</div>
<div class="aboutpart1">
    <div class="catchyMsg">

        <div class="image"> <img src="\assets\busss.gif"></div>
        
    </div>
</div>

    

