.about {
    display: flex;
    background-color:rgb(209 214 213 / 80%);
    height:400px;
margin: 50px 20px;
justify-content: left;
align-self: center;
text-align: justify;
box-sizing: content-box;

}
.aboutpart1 {

    height:600px;
margin: 10px 20px;
align-self: center;
box-sizing: content-box;
text-align: center;
align-items: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  }
  li {
    display: block;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 17px;
    &::before {
      content: '';
      margin-right: 10px;
    }
  }
}

.content{

    color: #7a1537;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    font-family: cursive;
    line-height: 2;
    height: 100px;
    width: 50%;
}
.colour {

}
.img{
width: 525px;
height: 300px;
margin-left: 40px;
margin-top: 30px;
  img {
    height: inherit;
    width: inherit;
  }
}
.fnt {
  font-size: 20px;
}

.image{
     text-align: left;
     justify-content: left;
  height: 100px;
 }

.catchyMsg {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}
.p-80 {
  padding: 80px;
}
