
<div class="" id="beforeNavbar">
    <img src="assets/fitness@home logo.png" alt="LOGO" id="logo" />
      <div class="" id="signin-sigup">
      <a href="#">SIGN IN</a>
      <span> | </span>
      <a routerLink="signup">SIGN UP</a>
  </div>
  </div>

  <nav>
      <div class="navbar-links">
          <a routerLink="about">ABOUT</a>
          <a routerLink="diet">DIET</a>
          <a routerLink="exercise">EXERCISE</a>
          <a routerLink="dietPlan">DIET PLAN</a>
          <a routerLink="exercisePlan">EXERCISE PLAN</a>
          <a routerLink="about">PROGRESS</a>
          <a routerLink="expert">CONTACT EXPERT</a>
      </div>
  </nav>



