<div class="content">

  <h2>DIET LIST</h2>

  <div class="search">
    <input type="text" class="inpSearch" placeholder="Search..">
    <button type="submit">Search</button>
  </div>
   <!--Fitnessapp is a unique fitness concept that was created to help you get the
    results you want! We offer many different diets to guide you to live fit. If
    you want to add new diet on your own schedule, search it and add it in to
    the your plan.we have the plan for you!-->
  <p>
    Instruction statement:Below is the list of customized diet plan .Click
    'Completed' when you complete the exercise for the day.
  </p>
  <h1>CUSTOMIZED DIET PLAN</h1>
</div>
<div *ngFor="let diet of dietList">
  <div class="base row algn">
    <span class="mg">
      <img [src]="diet.image" id="img1" />
    </span>
    <span class="mg2">
      <h2>{{diet.name}}</h2>
      <p>{{diet.description}}</p>
      <p>Calories:{{diet.calories}}</p>
      <button routerLink="/dietPlan" class="btn_complete">Add to Plan</button>
       <button routerLink="/adminDiet" class="btn_complete">Edit</button>
      <i class="fa-solid fa-square-heart"></i>
    </span>
  </div>
  <br />

  </div>

<input class="view" type="submit" value="View diet plans" />
