<div class="schedule">
    <div>
    <h2>Appoinment scheduling</h2>
    </div>
   <div class="update">
    <div >
        <span class="mg">
            <img src="assets/download.jpeg" alt="expert image" id="img1" />
          </span>

    </div>
     <form #updateDiet="ngForm" >
    <label for="name">Select Date:</label>
    
    <input type="text" id="name" name="date"  type="date" placeholder=" Select" /><br/>
    <label for="description">Select Time:</label>
    <input type="text" id="description" name="time" type="time" placeholder=" select " /><br/>
    
      <button type="submit">Schedule Appoinment</button>
    </form>
</div>
</div>
