<div class="content">
  <h2>EXERCISE LIST</h2>
  <div class="search">
    <input type="text"  [(ngModel)]="searchValue" class="inpSearch" placeholder="Search..">
    <button type="submit" (click)="onSearch(searchValue)">Search</button>
  </div>
    <!--Fitnessapp is a unique fitness concept that was created to help you get the
     results you want! We offer many different diets to guide you to live fit. If
     you want to add new diet on your own schedule, search it and add it in to
     the your plan.we have the plan for you!-->

  
</div>
<div *ngFor="let exercise of exerciseList">
  <div class="base row algn">
    <span class="mg">
      <img [src]="exercise?.image" id="img1" />
    </span>
    <span class="mg2">
      <h2>{{exercise?.name}}</h2>
      <p>{{exercise?.description}}</p>
      <p>Duration:{{exercise?.duration}}</p>
      <button (click)="onAddToPlan(exercise._id)" routerLink="/exercisePlan" class="btn_complete">Add to Plan</button>
      <button *ngIf="userType === 'admin'" (click)="onEditExercise(exercise)" class="btn_complete">Edit</button>
      <i class="fa-solid fa-square-heart"></i>
    </span>
  </div>
  <br />

</div>

<button  class="view" routerLink="/exercisePlan"> View Exercise plans</button>

