

<div class="update-diet">
    <div>
    <h2>UPDATE DIET LIST</h2>
    </div>
   <div class="update">
    <div >
        <span class="mg">
            <img [src]="" id="img1" />
          </span>
   
    </div>
    <div>
    <label for="name">Diet Name:</label>   
    <input type="text" placeholder=" Add Diet Name" /><br/>
    <label for="name">Description:</label>
    <input type="text" placeholder=" Description " /><br/>
    <label for="name">calories:</label>
    <input type="text" placeholder=" Add calories " /><br/>
    </div>
</div>
</div>

