<div class="block1" style=" height: auto;"><h2>Question 6</h2></div>
<div class="block1">

  <form #survey6="ngForm" (ngSubmit)="addQuestion(survey6)">
    <h2> Your Gender? </h2>
    <mat-form-field>
      <mat-select name="gender" [(ngModel)]="selectedGender" >
        <mat-option *ngFor="let gender of Gender" [value]="gender.value">
          {{ gender.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div style="display: flex; align-items: flex-end">
      <button class="button" routerLink="/survey5">Back</button>
      <input class="button" type="submit" value="Next"/>
    </div>
  </form>
</div>
