
  
  <div class="update-exercise">
      <div>
      <h2>UPDATE EXERCISE LIST</h2>
      </div>
      <div class="update">
      <div>
          <span class="mg">
              <img [src]="" id="img1" />
            </span>

        </div>
        <div>
            <label for="name">Exercise Name:</label>
            <input type="text" placeholder=" Add Name" /><br/>
            <label for="name">Description :</label>
            <input type="text" placeholder=" Description " /><br/>
            <label for="name">Calories :</label>
            <input type="text" placeholder=" Add calories " /><br/>
    </div>
    </div>

      
  </div>
  
  