<body>
<a [routerLink]="'/plan'"><img class="back-arrow" src="assets/back_arrow.png"/></a>
<div class="container-intro">

    <p><strong><span>Instruction: </span></strong>Below is a list of customised Diet plan.
      Click "Completed" when you complete the Diet for the day.</p>
    <br><br>
    <h2>CUSTOMISED DIET PLAN</h2>

</div>
<div class="container cont-area">
    <div class="row">
        <tr *ngFor="let plan of dietPlan">
        <div class="card">
            <div class="card-horizontal">
                <img class="card-img-top" [src]="plan.image" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">{{plan?.name}}</h4>
                    <p class="card-text">{{plan?.description}}</p>
                    <p class="card-text">Meal Type: {{plan?.mealType | titlecase}}</p>
                    <small class="text-muted">{{plan.calories}}</small>
                    <br><br>
                    <a href="#" class="button">COMPLETED</a>
                </div></div>
        </div>
    </div>
</div>
</body>

