<div class="footer">
    <div class="col-1">
        <h3>QUICK LINKS</h3>
        <a href="#">Home</a>
        <a href="#">Sign In</a>
        <a href="#">Register</a>
        <a href="#">Contact</a>
    </div>
    <div class="col-2">
        <h3>NEWSLETTER</h3>
        <form>
            <input type="email" placeholder="Your Email Address">
            <br>
            <button type="submit">SUBSCRIBE NOW</button>
        </form>
    </div>
    <div class="col-3">
        <h3>CONTACT US</h3>
        <p>164, Fort Boulevard Road, LS2 9LG<br>Toronto, ON</p>
        <div class="social-icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>

  </div>
  <div class="bottom-line">
    <p> 🛡️🏋️🥦 2023 &copy; ALL RIGHTS RESERVED @ TEAMFIT || COMP 313-005|| Group Project 🥦🏋️🛡️ </p>
  </div>
