*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.footer{
    margin-top: 10px;
    width: 100%;
    padding: 100px 15%;
    background: rgba(191, 81, 225, 0.578);;
    font-weight:800;
    color: #2a124b;
    display: flex;
    background-image: url('/assets/eat.gif');
}

.footer div{
    text-align: center;
    font-weight: bolder;
}
.col-2{
    flex-grow: 2;
    font-weight: bolder;
    margin-left:25%;
    margin-right: 25%;
}
.textbox{
    /* position: relative; */
   height: 100%;
   width: 100%;
   transform: translateX(-20%);

}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#f4fc16;
    margin-bottom: 10px;

}
.col-1 a:hover {
    color: rgb(8, 6, 73);
    text-decoration: underline;
  }
form input{
    width: 400px;
    height:45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline:none;
    border:none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons{
    margin-top: 30px;
}
.social-icons i{
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
/* BOTTOM-LINE */
.bottom-line {
    background-color: #3039e3;
    color: #fff;
    float: bottom;
    align-content: center;
    justify-content: center;
}

.bottom-line p {
    margin-left: 35%;
}
