<body>
<div class="container-intro">
  <h1>Hi {{userName | titlecase}}!!</h1>
  <p>Welcome to Fitness@Home App. Here is your personalised plan</p>
  <p><span>Instruction: </span>Below is a list of customised exercise plan.
    Click "Completed when you complete the exercise for the day.</p>
  <br><br>
  <div class="algn">
    <div routerLink="/dietPlan" class="base">CUSTOMISED DIET PLAN</div>
    <div routerLink="/exercisePlan" class="base">CUSTOMISED EXERCISE PLAN</div>
  </div>
</div>
</body>
